<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }}</title>
  <link rel="shortcut icon" href="{{ url_for('.static', filename='favicon.ico', _external=True, _scheme='http') }}">
  <link rel="stylesheet" href="{{ url_for('.static',  filename='css/murphy.css', _external=True, _scheme='http') }}">
  <link rel="stylesheet" href="{{ url_for('.static',  filename='css/bootstrap.min.css', _external=True, _scheme='http') }}">
  <link rel="stylesheet" href="{{ url_for('.static',  filename='css/bootstrap-icons.css', _external=True, _scheme='http') }}">
</head>
<body>
  <div class="container-fluid">
    <div class="row flex-nowrap">

      {% include "sidebar.html" %}
      <br/>

      <div class="col py-3">
        {% block content %}

        {% endblock %}

        {% include "footer.html" %}
      </div>

    </div>

    <script src="{{ url_for('.static',  filename='js/bootstrap.bundle.js', _external=True, _scheme='http') }}"></script>

  </div>
</body>

</html>
