<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <style>
        h1 {text-align: center;}
        p {text-align: center;}
        div {text-align: center;}
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">AutoFlag</a>
        </div>
    </nav>
    <h1> AutoFlag. Saving the world, one flag at a time.</h1>
    <p>
        Welcome to AutoFlag! Click the button below to automatically be served your flag!
    <br>
    <button type="button" class="btn btn-dark" onclick=document.location='/login'>Give me a flag!</button>
    <button type="button" class="btn btn-dark" onclick=document.location='https://github.com/UMassCybersecurity/AutoFlag-API'>Checkout the AutoFlag API!</button>    
</p>
</body>
</html>
