body {
    background-image: url('assets/floor/demonic_red_1.png');
}

canvas {
    display: block;
    margin: auto;
    margin-top: 2em;
    border: 4px solid;
}

footer {
    width: 60%;
    padding: 0 1em;
    margin: auto;
    margin-top: 1em;
    background-color: white;
    border: solid black;
}

footer p {
    font-size: 8pt;
}
