<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/styles/bootstrap.min.css">
    <script id='welcome' src="/static/js/thing.js" data-ihaterit="'Welcome my fellow RITCTF haters'"></script>
    <title>RITCTF SLANDER SUBMISSIONS</title>
</head>
<body>
    <div class="navbar navbar-expand-lg navbar-dark bg-primary">
        <ul class="navbar-nav me-auto">
            <li class="nav-item active">
              <a class="nav-link" href="">Home
                <span class="visually-hidden">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="register">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="join">Join!</a>
            </li>
        </ul>
    </div>

    <h1> 
        I HATE RITCTF! I HAVE A SECRET SOCIETY OF RITCTF HATERS REGISTER TO JOIN!
    </h1><br>
</body>
</html>