<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/styles/bootstrap.min.css">
    <script id='welcome' src="/static/js/thing.js" data-iloveumass="DOM content loaded for user"></script>
    <title>UMASS DINING SECRET SOCIETY</title>
</head>
<body>
    <div class="navbar navbar-expand-lg navbar-dark bg-primary">
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home
                <span class="visually-hidden">(current)</span>
              </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="register">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="join">Join!</a>
            </li>
        </ul>
    </div>

    <h1> 
        Welcome. To register, write an essay about what you LOVE
        about UMASS DINING! I will read EVERY single submission.
    </h1><br>
    <form action="/register" method="POST">
        <label for="email">Email:</label><br>
        <input type="text" id="email" name="email"><br>
        <label for="essay">Essay</label><br>
        <input type="text" id="essay" name="essay"><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>