

<div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark" style="width: 280px;">
  <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
    <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <span class="fs-5 d-none d-sm-inline">Tools</span>
    </a>
    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">

      <li class="nav-item">
        <a href="#submenu0" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
          <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span> </a>
          <ul class="collapse show nav flex-column ms-1" id="submenu0" data-bs-parent="#menu">
            <li><a class="nav-link px-1 active" href="/">Home</a></li>
            <li><a class="nav-link px-0" href="/aboutus">About Us</a></li>
          </ul>
        </li>

      </ul>
    </div>
  </div>
