<div class="row align-items-start">
  <div class="col-sm-3">

  <div class="card-header" id="headingOne">
        <a class="btn btn-link nav-link" data-bs-toggle="collapse" href="#form" role="button" aria-expanded="true" aria-controls="form">
           Form
        </a>
  </div>


<div class="collapse show" id="form">
  <div class="card-body">
    <section>
      <fieldset>
        <legend>Sample Form</legend>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
          <p> {{ message }} </p>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        <form class="row g-0" name="Sample" action="" method="post" novalidate>
          {{ formX.hidden_tag()}}

          <div class="mb-3">
            {{ formX.TextData.label(class_='form-label') }}
            {% if formX.TextData.errors %}
            {{ formX.TextData(class_='form-control is-invalid') }}
            {% else%}
            {{ formX.TextData(class_='form-control') }}
            {% endif %}
            {% for error in formX.TextData.errors %}
            <div class="invalid-feedback">
                {{ error }}
            </div>
            {% endfor %}
          </div>


            <button id="form0Submit" name="form0Submit" type="submit" value="form0" class="btn btn-primary">Submit</button>

        </form>

      </fieldset>
    </section>
  </div>
</div>
</div>
</div>
